
<!DOCTYPE html>
<html lang="zh-CN">

{% extends "shrimp/base.html" %}
{% block title %}虾问-首页{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/comment.js' %}"></script>
{% endblock js %}



{% block body %}
<div>
    <textarea id="comment" name="comment" rows="10" cols="50">

    </textarea>
    <p>

  {% autoescape off %}
        {{comment}}
        {% endautoescape %}
    </p>
<br/>
<input name="comment" type="button" value="提交" />
</div>

{% csrf_token %}
{% endblock %}
</html>
